---
layout: default
title: License Advisor
permalink: /advisor/
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>License Selector</title>
    
</head>
<body>
    <div class="filters"><div>
    <tr>
        <td>
            <ul class="license-permissions">
                <li>
                    <span class="license-sprite"></span>
                    <!-- Permissions -->
                    <label for="patent-use-filter">Patent Use:</label>
                    <select id="patent-use-filter" onchange="updateFilters()">
                        <option value="all">any</option>
                        <option value="include">Include Patent Use</option>
                        <option value="exclude">Exclude Patent Use</option>
                    </select>
                </li>    
            </ul>
        </td>     
        <td>
            <ul class="license-conditions">
                <li>
                    <span class="license-sprite"></span>
                    <!-- Conditions -->
                    <label for="same-license-filter">same license:</label>
                    <select id="same-license-filter" onchange="updateFilters()">
                        <option value="all">any</option>
                        <option value="include">Include same license</option>
                        <option value="exclude">Exclude same license</option>
                    </select>
                </li>
                <li></li>
                    <span class="license-sprite"></span>
                    <label for="document-changes-filter">Document Changes:</label>
                    <select id="document-changes-filter" onchange="updateFilters()">
                        <option value="all">any</option>
                        <option value="include">Include Document Changes</option>
                        <option value="exclude">Exclude Document Changes</option>
                    </select>
                </li>
            </ul>
        </td>
        <td>
            <ul class="license-limitations">
            <!-- Limitations -->

                <li>
                  <span class="license-sprite"></span>
                  <label for="liability-filter">Liability:</label>
                  <select id="liability-filter" onchange="updateFilters()">
                      <option value="all">any</option>
                      <option value="include">Include Liability</option>
                      <option value="exclude">Exclude Liability</option>
                  </select>
                </li>
                <li>
                  <span class="license-sprite"></span>
                  <label for="warranty-filter">Warranty:</label>
                  <select id="warranty-filter" onchange="updateFilters()">
                      <option value="all">any</option>
                      <option value="include">Include Warranty</option>
                      <option value="exclude">Exclude Warranty</option>
                  </select>
                </li>
                <li>
                    <span class="license-sprite"></span>
                    <label for="trademark-use-filter">Trademark:</label>
                    <select id="trademark-use-filter" onchange="updateFilters()">
                        <option value="all">any</option>
                        <option value="include">Include Trademark</option>
                        <option value="exclude">Exclude Trademark</option>
                    </select>
                </li>
            </ul>
        </td>
    </tr>
    </div>

    <div class="license">{% include license-overview.html license-id="0bsd" %}</div>
    <div class="license">{% include license-overview.html license-id="afl-3.0" %}</div>
    <div class="license">{% include license-overview.html license-id="apache-2.0" %}</div>
    <div class="license">{% include license-overview.html license-id="artistic-2.0" %}</div>
    <div class="license">{% include license-overview.html license-id="blueoak-1.0.0" %}</div>
    <div class="license">{% include license-overview.html license-id="bsd-2-clause" %}</div>
    <div class="license">{% include license-overview.html license-id="bsd-2-clause-patent" %}</div>
    <div class="license">{% include license-overview.html license-id="bsd-3-clause" %}</div>
    <div class="license">{% include license-overview.html license-id="bsd-3-clause-clear" %}</div>
    <div class="license">{% include license-overview.html license-id="bsd-4-clause" %}</div>
    <div class="license">{% include license-overview.html license-id="bsl-1.0" %}</div>
    <div class="license">{% include license-overview.html license-id="cc0-1.0" %}</div>
    <div class="license">{% include license-overview.html license-id="cc-by-4.0" %}</div>
    <div class="license">{% include license-overview.html license-id="cc-by-sa-4.0" %}</div>
    <div class="license">{% include license-overview.html license-id="cecill-2.1" %}</div>
    <div class="license">{% include license-overview.html license-id="cern-ohl-p-2.0" %}</div>
    <div class="license">{% include license-overview.html license-id="cern-ohl-s-2.0" %}</div>
    <div class="license">{% include license-overview.html license-id="cern-ohl-w-2.0" %}</div>
    <div class="license">{% include license-overview.html license-id="ecl-2.0" %}</div>
    <div class="license">{% include license-overview.html license-id="epl-1.0" %}</div>
    <div class="license">{% include license-overview.html license-id="epl-2.0" %}</div>
    <div class="license">{% include license-overview.html license-id="eupl-1.1" %}</div>
    <div class="license">{% include license-overview.html license-id="eupl-1.2" %}</div>
    <div class="license">{% include license-overview.html license-id="gfdl-1.3" %}</div>
    <div class="license">{% include license-overview.html license-id="agpl-3.0" %}</div>
    <div class="license">{% include license-overview.html license-id="gpl-2.0" %}</div>
    <div class="license">{% include license-overview.html license-id="gpl-3.0" %}</div>
    <div class="license">{% include license-overview.html license-id="lgpl-2.1" %}</div>
    <div class="license">{% include license-overview.html license-id="lgpl-3.0" %}</div>
    <div class="license">{% include license-overview.html license-id="isc" %}</div>
    <div class="license">{% include license-overview.html license-id="lppl-1.3c" %}</div>
    <div class="license">{% include license-overview.html license-id="mit" %}</div>
    <div class="license">{% include license-overview.html license-id="mit-0" %}</div>
    <div class="license">{% include license-overview.html license-id="mpl-2.0" %}</div>
    <div class="license">{% include license-overview.html license-id="ms-pl" %}</div>
    <div class="license">{% include license-overview.html license-id="ms-rl" %}</div>
    <div class="license">{% include license-overview.html license-id="mulanpsl-2.0" %}</div>
    <div class="license">{% include license-overview.html license-id="ncsa" %}</div>
    <div class="license">{% include license-overview.html license-id="unlicense" %}</div>
    <div class="license">{% include license-overview.html license-id="zlib" %}</div>
    <div class="license">{% include license-overview.html license-id="postgresql" %}</div>
    <div class="license">{% include license-overview.html license-id="ofl-1.1" %}</div>
    <div class="license">{% include license-overview.html license-id="osl-3.0" %}</div>
    <div class="license">{% include license-overview.html license-id="wtfpl" %}</div>
    <div class="license">{% include license-overview.html license-id="odbl-1.0" %}</div>
    <div class="license">{% include license-overview.html license-id="upl-1.0" %}</div>
    <div class="license">{% include license-overview.html license-id="vim" %}</div>
    
    <script>
function updateFilters() {
    const licenses = document.querySelectorAll('.license');

    licenses.forEach(license => {
        let isDisplayed = true;

        // Handle general filters
        document.querySelectorAll('select').forEach(select => {
            const value = select.value; // "include", "exclude", or "all"
            const filterName = select.id.replace('-filter', ''); // e.g., "trademark", "liability"
            const conditions = Array.from(license.querySelectorAll('.' + filterName)).map(li => li.textContent.trim().toLowerCase());

            if (value === 'include' && !conditions.length) {
                isDisplayed = false;
            } else if (value === 'exclude' && conditions.length) {
                isDisplayed = false;
            }
        });
        license.style.display = isDisplayed ? 'block' : 'none';
    });
}
document.addEventListener('DOMContentLoaded', updateFilters);
    </script>
</body>
</html>
